/* @import "tailwindcss/preflight";

@tailwind utilities; */


.body {
    display: inline-flex;
    flex-direction: row;
}

/* .dropZone1 {
    background-color: black;
    border-radius: 50%;
    height: 2vw;
    width: 2vw;
    margin-left: 10em;

} */

footer {
    background-color: #000000;
    justify-content: end;
}

.footerText {
    color: #f9f9f9;
    text-align: center;
}

.customRow {
    flex-shrink: 0;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-top: var(--bs-gutter-y);
    width: 150px;
}

.footerSN {
    width: 120px;
}

.footerImg {
    width: 100px;
}

.divBlogTest {
    background-color: #787878;
}

.descArt {
    color: #f0f0f0;
    text-align: center;
}

.imgArt {
    width: 636px;
}

.imgIndex {
    width: 600px;
    padding-bottom: 50px;
    position: relative;
}

.headerText {
    text-align: center;
}

.submitButton {
    background-color: #cd3301;
}

.sectionTable {
    padding-bottom: 50px;
}



/* .dropZoneT div{
    
    background-color: black;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin-left: 30px;
    
}

.robotPrimaStem{
    position: absolute;
    padding-top: 230px;
    padding-left: 210px;
} */

/* Problème de clickbox des boutons de catégories*/

/* 
.positionsElementsSupportJetons {
    display: inline-flex;
    flex-direction: row;

}

.positionsElementsSupportJetons button img {
    height: 2.8vw;
    width: 2.8vw;

    min-width: 2.5vw;
}

.fleche-toutesLesDirections {
    padding-top: 70px;
    padding-left: 200px;
    margin-bottom: 600px;
    z-index: 4;

}

.toutesLesRotations {
    padding-top: 70px;
    padding-left: 20px;
    z-index: 4;

}

.tousLesNombres {
    padding-top: 70px;
    padding-left: 20px;
    z-index: 4;

}

.toutesLesOperations {
    padding-top: 70px;
    padding-left: 20px;

}

.fonction {
    padding-top: 70px;
    padding-left: 20px;

}

/* 
.robotPrimaStem {
  padding-top: 490px;
  padding-left: 1147px;
  position: absolute;
} */

/* 
.grilleBackground {
    background-size: 30%;
    padding-bottom: 700px;
    background-image: url('../imagesPlayStem/grilleRobot.png');
    background-repeat: no-repeat;
    background-position: 80% 0%;
}


*/
/* 
.grid {
    display: grid;
    row-gap: 50px;
    column-gap: 50px; 
    justify-content: start;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 100px);
    box-sizing: border-box;
} */

/* 
.nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 10px;
    column-gap: 10px;
    object-fit:cover;
} */
/*
.nested:nth-child(1){

}
.mouvement{
    grid-column: 1 / 2;
    grid-template-rows: 1 / 2;
}

.rotation {
    grid-column: 2 / 3;
    grid-template-rows: 1 / 2;
}

.grid {}

.grid .telecommande {}

 */



/*
.rangeeJetonsNombres1 {

    flex-basis: 100%;
    margin-top: -520px;
    margin-left: 210px;
    height: max-content;
}


.rangeeJetonsNombres2 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -450px;
    margin-left: 191px;
    height: max-content;
}


.rangeeJetonsNombres3 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -380px;
    margin-left: 191px;
    height: max-content;
}


.rangeeJetonsNombres4 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -310px;
    margin-left: 191px;
    height: max-content;
}


.rangeeJetonsNombres5 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -240px;
    margin-left: 191px;
    height: max-content;
}

.rangeeJetonsMouvement1 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -530px;
    margin-left: 180px;
}

.rangeeJetonsRepetition1 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -530px;
    margin-left: 200px;
}

.rangeeJetonsRepetition2 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -450px;
    margin-left: 180px;
}

.rangeeJetonsRepetition3 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -380px;
    margin-left: 180px;
}

.rangeeJetonsOperations1 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -520px;
    margin-left: 185px;
}


.rangeeJetonsOperations2 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -450px;
    margin-left: 185px;

}


.rangeeJetonsOperations3 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -380px;
    margin-left: 185px;
}


.rangeeJetonsOperations4 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -310px;
    margin-left: 185px;

}


.rangeeJetonsOperations5 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -240px;
    margin-left: 185px;

}

.rangeeJetonsOperations1 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -520px;
    margin-left: 185px;
}

.rangeeJetonsSpeciaux1 {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    flex-basis: 100%;
    margin-top: -530px;
    margin-left: 200px;
} */