
body{
    display: flex;
    flex-direction: column;
    
}

.bgTextPartner {
    background-color: #787878;
}

.footer {
    background-color: #000000;
    justify-content: end;
}

.footerText {
    color: #f9f9f9;
    text-align: center;
}

.customRow{
    flex-shrink: 0;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-top: var(--bs-gutter-y);
    width: 150px;
}

.footerSN {
    width: 120px;
}

.footerImg {
    width: 100px;
}

.divBlogTest {
    background-color: #787878;
}

.descArt {
    color: #f0f0f0;
    text-align: center;
}

.imgArt{
    width: 636px;
}

.imgIndex {
    width: 600px;
    padding-bottom: 50px;
}

.headerText {
    text-align: center;
}

.submitButton {
    background-color: #cd3301;
}