.smallcarousel {
    width: 546px;
    height: 419px;
}

.bgTextPartner {
    background-color: #787878;
}

.footer {
    background-color: #000000;
}

.footerText {
    color: #f9f9f9;
    text-align: center;
}

.imgIndex {
    width: 600px;
    padding-bottom: 50px;
}

.headerText {
    text-align: center;
}

.submitButton {
    background-color: #cd3301;
}