.jetonAvancer{

    padding-top: 170px;
    padding-left: 155px;
    position: absolute;
  }
  
  .jetonReculer{
  
    padding-top: 170px;
    padding-left: 235px;
    position: absolute;
    /* display: none; */
  }
  
  .jetonAvancerDroite{
  
    padding-top: 170px;
    padding-left: 315px;
    position: absolute;
    /* display: none; */
  }
  
  .jetonAvancerGauche{
  
    padding-top: 170px;
    padding-left: 395px;
    position: absolute;
    /* display: none; */
  }
  
  .jetonMouvementAleatoire{
  
    padding-top: 170px;
    padding-left: 475px;
    position: absolute;
  }
  