

/* Eléments graphiques de base de la page */

.supportJeton {

  padding-top: 50px;
  margin-top: 30px;
  margin-left: 120px;
}

.fleche-toutesLesDirections {
  padding-top: 140px;
  padding-left: 160px;
  position: absolute;
  z-index: 2;
}

.toutesLesRotations {
  padding-top: 140px;
  padding-left: 240px;
  position: absolute;
  z-index: 2;
}

.tousLesNombres {
  padding-top: 140px;
  padding-left: 320px;
  position: absolute;
  
}

.toutesLesOperations {
  padding-top: 140px;
  padding-left: 400px;
  position: absolute;
  
}

.fonction {
  padding-top: 140px;
  padding-left: 480px;
  position: absolute;
  
}

.exercices-TextLayout {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 28px;
  padding-left: 400px;
  padding-top: 100px;
}

.image-container {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
}

.consignes {
  padding-left: 100px;
}

.telecommande {
  padding-top: 100px;
  padding-left: 100px;
  margin-bottom: 200px;
}

.grilleRobot {

  padding-left: 800px;
  padding-top: 90px;

  position: absolute;
}

.robotPrimaStem {
  padding-top: 320px;
  padding-left: 1015px;
  position: absolute;
  z-index: 1;
}


/* Bibliothèque des jetons*/ 


/* Jetons mouvements */

.jetonAvancer{

  padding-top: 390px;
  padding-left: 160px;
  position: absolute;
  /* display: none; */
}

.jetonReculer{

  padding-top: 380px;
  padding-left: 240px;
  position: absolute;
  /* display: none; */
}

.jetonAvancerDroite{

  padding-top: 380px;
  padding-left: 320px;
  position: absolute;
  /* display: none; */
}

.jetonAvancerGauche{

  padding-top: 380px;
  padding-left: 400px;
  position: absolute;
  /* display: none; */
}

.jetonMouvementAleatoire{

  padding-top: 380px;
  padding-left: 480px;
  position: absolute;
}


/* Jetons rotations et boucles */

.jetonRotation{

  padding-top: 380px;
  padding-left: 160px;
  position: absolute;
}

.jetonRepeter2{

  padding-top: 380px;
  padding-left: 240px;
  position: absolute;
}

.jetonRepeter3{

  padding-top: 380px;
  padding-left: 320px;
  position: absolute;
}

.jetonRepeter4{

  padding-top: 380px;
  padding-left: 400px;
  position: absolute;
}

.jetonRepeter5{

  padding-top: 380px;
  padding-left: 480px;
  position: absolute;
}

.jetonRepeter6{

  padding-top: 480px;
  padding-left: 160px;
  position: absolute;
}

.jetonRepeterAleatoire{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jetonRepeter7{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jetonRepeter8{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jetonRepeter9{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jetonRepeter18{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jetonRepeter36{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jetonRepeter72{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jetonRepeter180{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jetonRepeter360{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

/* Jetons nombres */

.jeton1{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jeton2{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jeton3{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jeton4{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jeton5{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jeton6{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jeton7{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jeton8{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jeton9{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jeton10{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jeton15{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jeton20{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jeton36{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jeton40{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jeton45{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jeton50{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jeton60{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jeton72{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jeton90{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jeton100{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jeton108{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jeton120{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jeton135{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jeton144{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jeton150{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jeton180{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jeton360{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}


/* Opérations d'additions, soustractions, multiplications,
puissance au nombre et racine carré */


.jetonPlus1{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jetonPlus2{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jetonPlus3{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jetonPlus5{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jetonPlus10{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jetonPlus15{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jetonPlus20{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jetonPlus50{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jetonPlus100{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jetonMoins1{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jetonMoins2{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jetonMoins5{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jetonMoins10{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jetonMoins15{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jetonMoins20{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jetonMoins50{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jetonMoins100{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jetonMultipliePar2{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jetonMultipliePar3{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

.jetonDivisePar2{

  padding-top: 110px;
  padding-left: 480px;
  position: absolute;
}

.jetonDivisePar3{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jetonPuissanceDe2{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}

.jetonPuissanceDe3{

  padding-top: 110px;
  padding-left: 320px;
  position: absolute;
}

.jetonRacineCarreDeNombreX{

  padding-top: 110px;
  padding-left: 400px;
  position: absolute;
}

/* Jetons fonction et pause */

.jetonFonction{

  padding-top: 110px;
  padding-left: 160px;
  position: absolute;
}

.jetonPause{

  padding-top: 110px;
  padding-left: 240px;
  position: absolute;
}