.supportJeton { 
    
    height: 10% ;
    width: 10%;
    padding-top: 200px;
    margin-top: 60px;
    margin-left: 120px; 
    margin-bottom: 0px;
  }

.grilleRobot{
    
    height: 10%;
    width: 10%;
    padding-left: 700px;
    padding-top: 250px ;
  }

.exercices-TextLayout{
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 28px;
  padding-left: 400px;
  padding-top: 100px;
}
.image-container {
  display: flex;
  flex-direction: row;  /* Aligne les images horizontalement */
  gap: 10px;
}
.consignes{
  padding-left: 100px;
}
.telecommande{
  padding-top: 200px; 
  padding-left: 140px;
  margin-bottom: 200px;
}
.fleche-haut{
  padding-top: 330px;
}