.exercices,
.exercices * {
  box-sizing: border-box;
}
.exercices {
  background: #ffffff;
  height: 151.125rem;
  position: relative;
  overflow: hidden;
}
.l-ment-187 {
  width: 6.68875rem;
  height: 0rem;
  position: absolute;
  left: 6rem;
  top: 15.0625rem;
  transform: translate(0rem, -0.46rem);
  overflow: visible;
}
.l-ment-186 {
  width: 9.690625rem;
  height: 0rem;
  position: absolute;
  left: 33.625rem;
  top: 15.0625rem;
  transform: translate(-9.753125rem, -0.46rem);
  overflow: visible;
}
.l-ment-185 {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.75rem;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: 14.5rem;
  top: 14.1875rem;
  width: 8.5rem;
  height: 1.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-ment-184 {
  background: #d33809;
  opacity: 0.24;
  width: 28.0625rem;
  height: 32.5625rem;
  position: absolute;
  left: 0.1875rem;
  top: 34.6875rem;
}
.l-ment-183 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: -6.5625rem;
  top: 38.8125rem;
  width: 45.3125rem;
  height: 6.125rem;
}
.l-ment-182 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: -13.1875rem;
  top: 40.1875rem;
  width: 45.3125rem;
  height: 6.125rem;
}
.l-ment-181 {
  color: #b92511;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 2.5rem;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  right: 71.3125rem;
  top: 5.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-ment-180 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: -14.625rem;
  top: 37.75rem;
  width: 42.75rem;
  height: 2.9375rem;
}
.l-ment-179 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: -11.8125rem;
  top: 45.5625rem;
  width: 42.75rem;
  height: 2.9375rem;
}
.l-ment-178 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: -14.4375rem;
  top: 52.375rem;
  width: 42.75rem;
  height: 2.9375rem;
}
.l-ment-177 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 2.3125rem;
  top: 55.3125rem;
  width: 11.9375rem;
  height: 9.9375rem;
}
.l-ment-176 {
  margin-top: -0.625rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.625rem 0 0 0;
  width: 32.625rem;
  height: 0rem;
  position: absolute;
  left: 0rem;
  top: 34.625rem;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.l-ment-175 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.125rem 0 0 0;
  width: 28.1875rem;
  height: 0rem;
  position: absolute;
  left: 0.1875rem;
  top: 34.6875rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.l-ment-174 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.125rem 0 0 0;
  width: 27.9375rem;
  height: 0rem;
  position: absolute;
  left: 0.3125rem;
  top: 67.25rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.l-ment-173 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2.25rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 35.3125rem;
  top: 34.9375rem;
  width: 43.875rem;
  height: 7.9375rem;
}
.l-ment-172 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2.25rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 13.8125rem;
  top: 41.9375rem;
  width: 43.875rem;
  height: 7.9375rem;
}
.l-ment-171 {
  margin-top: -0.1875rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.1875rem 0 0 0;
  width: 26.501875rem;
  height: 0rem;
  position: absolute;
  left: 44.874375rem;
  top: 39.09375rem;
}
.l-ment-170 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 30.5625rem;
  top: 73.25rem;
  width: 32.25rem;
  height: 2.75rem;
}
.l-ment-169 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 31.375rem;
  top: 86.5625rem;
  width: 32.4375rem;
  height: 5.5rem;
}
.l-ment-168 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 48.8125rem;
  top: 46.375rem;
}
.l-ment-167 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2.25rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 21.875rem;
  top: 20.3125rem;
  width: 21rem;
  height: 3.0625rem;
}
.l-ment-166 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.125rem 0 0 0;
  width: 38.25125rem;
  height: 0rem;
  position: absolute;
  left: 16.0625rem;
  top: 26.875rem;
  transform-origin: 0 0;
  transform: rotate(-0.468deg) scale(1, 1);
}
.l-ment-165 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.125rem 0 0 0;
  width: 44.691875rem;
  height: 0rem;
  position: absolute;
  left: -0.689375rem;
  top: 20.625rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.l-ment-164 {
  margin-top: -0.25rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.25rem 0 0 0;
  width: 3.5rem;
  height: 0rem;
  position: absolute;
  left: 56.125rem;
  top: 46.0625rem;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.l-ment-163 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 47.375rem;
  top: 53.1875rem;
}
.l-ment-162 {
  margin-top: -0.25rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.25rem 0 0 0;
  width: 3.5rem;
  height: 0rem;
  position: absolute;
  left: 56.125rem;
  top: 52.875rem;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.l-ment-202 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.125rem 0 0 0;
  width: 28.751875rem;
  height: 0rem;
  position: absolute;
  left: 57.75rem;
  top: 47.6875rem;
}
.l-ment-203 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.125rem 0 0 0;
  width: 28.625625rem;
  height: 0rem;
  position: absolute;
  left: 57.875rem;
  top: 54.53125rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.l-ment-159 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 61.75rem;
  top: 52.875rem;
}
.l-ment-158 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 62.8125rem;
  top: 53.1875rem;
}
.l-ment-157 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 83.25rem;
  top: 52.875rem;
}
.l-ment-156 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 84.25rem;
  top: 53.125rem;
}
.l-ment-155 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 61.75rem;
  top: 52.875rem;
}
.l-ment-154 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 62.6875rem;
  top: 53.0625rem;
}
.l-ment-153 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 78.6875rem;
  top: 52.875rem;
}
.l-ment-152 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 79.625rem;
  top: 53.0625rem;
}
.l-ment-151 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 74.625rem;
  top: 52.875rem;
}
.l-ment-150 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 75.5625rem;
  top: 53.125rem;
}
.l-ment-149 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 70.625rem;
  top: 52.875rem;
}
.l-ment-148 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 66.3125rem;
  top: 52.8125rem;
}
.l-ment-147 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 57.5625rem;
  top: 53.0625rem;
}
.l-ment-146 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 71.5rem;
  top: 53.125rem;
}
.l-ment-145 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 67.25rem;
  top: 53.125rem;
}
.l-ment-201 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 43.25rem;
  top: 58.8125rem;
}
.l-ment-200 {
  margin-top: -0.25rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.25rem 0 0 0;
  width: 3.5rem;
  height: 0rem;
  position: absolute;
  left: 56.125rem;
  top: 58.25rem;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.l-ment-204 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.125rem 0 0 0;
  width: 28.625625rem;
  height: 0rem;
  position: absolute;
  left: 57.875rem;
  top: 59.90625rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.l-ment-141 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 57.5rem;
  top: 58.25rem;
}
.l-ment-140 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 58.5rem;
  top: 58.5rem;
}
.l-ment-139 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 58.625rem;
  top: 53.1875rem;
}
.l-ment-138 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 61.75rem;
  top: 58.25rem;
}
.l-ment-137 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 62.8125rem;
  top: 58.5625rem;
}
.l-ment-136 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 83.25rem;
  top: 58.25rem;
}
.l-ment-135 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 84.25rem;
  top: 58.5rem;
}
.l-ment-134 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 61.75rem;
  top: 58.25rem;
}
.l-ment-133 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 66.3125rem;
  top: 58.3125rem;
}
.l-ment-132 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 62.8125rem;
  top: 58.5rem;
}
.l-ment-131 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 78.6875rem;
  top: 58.25rem;
}
.l-ment-130 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 79.625rem;
  top: 58.4375rem;
}
.l-ment-129 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 74.625rem;
  top: 58.25rem;
}
.l-ment-128 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 75.5625rem;
  top: 58.5rem;
}
.l-ment-127 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 70.625rem;
  top: 58.25rem;
}
.l-ment-126 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 71.5rem;
  top: 58.5rem;
}
.l-ment-125 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 67.25rem;
  top: 58.5rem;
}
.l-ment-124 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 61.75rem;
  top: 46.0625rem;
}
.l-ment-123 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 62.8125rem;
  top: 46.375rem;
}
.l-ment-122 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 83.25rem;
  top: 46.0625rem;
}
.l-ment-121 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 84.25rem;
  top: 46.3125rem;
}
.l-ment-120 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 61.75rem;
  top: 46.0625rem;
}
.l-ment-119 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 57.5rem;
  top: 46.1875rem;
}
.l-ment-118 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 58.5rem;
  top: 46.3125rem;
}
.l-ment-117 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 62.6875rem;
  top: 46.375rem;
}
.l-ment-116 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 78.6875rem;
  top: 46.0625rem;
}
.l-ment-115 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 79.625rem;
  top: 46.25rem;
}
.l-ment-114 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 74.625rem;
  top: 46.0625rem;
}
.l-ment-113 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 75.5625rem;
  top: 46.3125rem;
}
.l-ment-112 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 70.625rem;
  top: 46.0625rem;
}
.l-ment-111 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.125rem;
  height: 2.9375rem;
  position: absolute;
  left: 66.3125rem;
  top: 46.1875rem;
}
.l-ment-110 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 71.5rem;
  top: 46.3125rem;
}
.l-ment-109 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 67.25rem;
  top: 46.3125rem;
}
.l-ment-108 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 18.9375rem;
  top: 99.625rem;
  width: 45.0625rem;
  height: 20.4375rem;
}
.l-ment-107 {
  background: #d9d9d9;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 1rem;
  top: 32.1875rem;
}
.l-ment-106 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #a09a9a;
  border-width: 0.125rem 0 0 0;
  width: 1.875rem;
  height: 0rem;
  position: absolute;
  left: 1.3125rem;
  top: 34.125rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.l-ment-105 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #a09a9a;
  border-width: 0.125rem 0 0 0;
  width: 1.875rem;
  height: 0rem;
  position: absolute;
  left: 1.3125rem;
  top: 32.875rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.l-ment-104 {
  background: #d9d9d9;
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #a09a9a;
  border-width: 0.125rem 0 0 0;
  width: 1.875rem;
  height: 0rem;
  position: absolute;
  left: 1.3125rem;
  top: 33.5625rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.l-ment-103 {
  margin-top: -0.125rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.125rem 0 0 0;
  width: 6.063125rem;
  height: 0rem;
  position: absolute;
  left: 0.25rem;
  top: 34.625rem;
  transform-origin: 0 0;
  transform: rotate(0.881deg) scale(1, 1);
}
.l-ment-102 {
  width: 2.4375rem;
  height: 1.5625rem;
  position: absolute;
  left: 3.4375rem;
  top: 37.4375rem;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  object-fit: cover;
}
.l-ment-101 {
  width: 2.4375rem;
  height: 1.5625rem;
  position: absolute;
  left: 3.5rem;
  top: 45.3125rem;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  object-fit: cover;
}
.l-ment-100 {
  width: 2.4375rem;
  height: 1.5625rem;
  position: absolute;
  left: 3.4375rem;
  top: 52.3125rem;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  object-fit: cover;
}
