.jeton1 {
  padding-top: 170px;
  position: relative;
}

.jeton2 {

  padding-top: 170px;
  position: relative;
}

.jeton3 {

  padding-top: 170px;
  position: relative;
}

.jeton4 {

  padding-top: 170px;
  position: relative;
}

.jeton5 {

  padding-top: 170px;
  position: relative;
}

.jeton6 {

  padding-top: 250px;
  flex-direction: column;
}

.jeton7 {

  padding-top: 250px;
  position: relative;
}

.jeton8 {

  padding-top: 250px;
  position: relative;
}

.jeton9 {

  padding-top: 250px;
  position: relative;

}

.jeton10 {

  padding-top: 250px;
  position: relative;

}

.jeton15 {

  padding-top: 330px;
  position: relative;

}

.jeton20 {

  padding-top: 330px;
  position: relative;

}

.jeton36 {

  padding-top: 330px;
  position: relative;

}

.jeton40 {

  padding-top: 330px;
  position: relative;

}

.jeton45 {

  padding-top: 330px;
  position: relative;

}

.jeton50 {

  padding-top: 410px;
  position: relative;

}

.jeton60 {

  padding-top: 410px;
  position: relative;

}

.jeton72 {

  padding-top: 410px;
  position: relative;

}

.jeton90 {

  padding-top: 410px;
  position: relative;

}

.jeton100 {

  padding-top: 410px;
  position: relative;
}

.jeton108 {

  padding-top: 490px;
  position: relative;
}

.jeton120 {

  padding-top: 490px;
  position: relative;

}

.jeton135 {

  padding-top: 490px;
  position: relative;

}

.jeton144 {

  padding-top: 490px;
  position: relative;

}

.jeton150 {

  padding-top: 490px;
  position: relative;

}

.jeton180 {

  padding-top: 570px;
  position: relative;

}

.jeton360 {

  padding-top: 570px;
  position: relative;

}