.jeton1 {

  position: relative;
}

.jeton2 {
  padding-left: 1%;

  position: relative;
}

.jeton3 {
  padding-left: 1%;

  position: relative;
}

.jeton4 {
  padding-left: 1%;

  position: relative;
}

.jeton5 {
  padding-left: 1%;

  position: relative;
}

.jeton6 {
  padding-left: 1%;

  flex-direction: column;
}

.jeton7 {
  padding-left: 1%;

  position: relative;
}

.jeton8 {
  padding-left: 1%;

  position: relative;
}

.jeton9 {
  padding-left: 1%;

  position: relative;

}

.jeton10 {
  padding-left: 1%;

  position: relative;

}

.jeton15 {
  padding-left: 1%;

  position: relative;

}

.jeton20 {
  padding-left: 1%;

  position: relative;

}

.jeton36 {
  padding-left: 1%;

  position: relative;

}

.jeton40 {
  padding-left: 1%;

  position: relative;

}

.jeton45 {
  padding-left: 1%;

  position: relative;

}

.jeton50 {
  padding-left: 1%;

  position: relative;

}

.jeton60 {
  padding-left: 1%;

  position: relative;

}

.jeton72 {
  padding-left: 1%;

  position: relative;

}

.jeton90 {
  padding-left: 1%;

  position: relative;

}

.jeton100 {
  padding-left: 1%;

  position: relative;
}

.jeton108 {
  padding-left: 1%;

  position: relative;
}

.jeton120 {
  padding-left: 1%;

  position: relative;

}

.jeton135 {
  padding-left: 1%;

  position: relative;

}

.jeton144 {
  padding-left: 1%;

  position: relative;

}

.jeton150 {
  padding-left: 1%;

  position: relative;

}

.jeton180 {
  padding-left: 1%;

  position: relative;

}

.jeton360 {
  padding-left: 1%;

  position: relative;

}