.jetonPlus1 {


  padding-left: 20px;

}

.jetonPlus2 {


  padding-left: 20px;

}

.jetonPlus3 {


  padding-left: 20px;

}

.jetonPlus5 {


  padding-left: 20px;

}

.jetonPlus10 {


  padding-left: 20px;

}

.jetonPlus15 {


  padding-left: 20px;

}

.jetonPlus20 {


  padding-left: 20px;

}

.jetonPlus50 {


  padding-left: 20px;

}

.jetonPlus100 {


  padding-left: 20px;

}

.jetonMoins1 {


  padding-left: 20px;

}

.jetonMoins2 {


  padding-left: 20px;

}

.jetonMoins3 {

  padding-left: 20px;


}

.jetonMoins5 {


  padding-left: 20px;

}

.jetonMoins10 {


  padding-left: 20px;

}

.jetonMoins15 {


  padding-left: 20px;

}

.jetonMoins20 {


  padding-left: 20px;


}

.jetonMoins50 {

  padding-left: 20px;

}

.jetonMoins100 {


  padding-left: 20px;


}

.jetonMultipliePar2 {

  padding-left: 20px;

}

.jetonMultipliePar3 {


  padding-left: 20px;


}

.jetonDivisePar2 {

  padding-left: 20px;

}

.jetonDivisePar3 {


  padding-left: 20px;

}

.jetonPuissanceDe2 {


  padding-left: 20px;


}

.jetonPuissanceDe3 {


  padding-left: 20px;

}

.jetonRacineCarreDeNombreX {


  padding-left: 20px;

}