/* Problème de clickbox des boutons de catégories*/

.fleche-toutesLesDirections {
  padding-top: 70px;
  padding-left: 200px;
  margin-bottom: 600px;
  z-index: 4;
  height: max-content;
}

.toutesLesRotations {
  padding-top: 70px;
  padding-left: 20px;
  z-index: 4;
  height: max-content;
}

.tousLesNombres {
  padding-top: 70px;
  padding-left: 20px;
  z-index: 4;
  height: max-content;
}

.toutesLesOperations {
  padding-top: 70px;
  padding-left: 20px;
  height: max-content;
}

.fonction {
  padding-top: 70px;
  padding-left: 20px;
  height: max-content;
}

.exercices-TextLayout {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 28px;
  padding-left: 400px;
  padding-top: 100px;
}


.image-container {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
}

.consignes {
  padding-left: 100px;
}

.telecommande {
  padding-left: 100px;
  margin-bottom: 100px;

}

.grilleRobot {

  padding-left: 800px;
  padding-top: 0px;

}

.robotPrimaStem {
  padding-top: 490px;
  padding-left: 1147px;
  position: absolute;
}

.bodyAll {

  background-image: url('../imagesPlayStem/telecommande.png');
  background-repeat: no-repeat;
  background-position: 12% 0%;

}

.grilleBackground {
  background-image: url('../imagesPlayStem/grilleRobot.png');
  background-repeat: no-repeat;
  background-position: 65% 100%;


}

.supportJeton {
  margin-top: 100px;
  background-size: 30%;
  background-image: url('../imagesPlayStem/supportJeton.png');
  background-repeat: no-repeat;
  background-position: 11.5% 2%;

}

.positionsElementsSupportJetons {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}


.rangeeJetonsNombres1{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -520px;
  margin-left: 210px;
}


.rangeeJetonsNombres2{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -450px;
  margin-left: 191px;
  
}


.rangeeJetonsNombres3{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -380px;
  margin-left: 191px;
  }


.rangeeJetonsNombres4{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -310px;
  margin-left: 191px;
  
}


.rangeeJetonsNombres5{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -240px;
  margin-left: 191px;
  
}

.rangeeJetonsMouvement1{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -530px;
  margin-left: 180px;
}

.rangeeJetonsRepetition1{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -530px;
  margin-left: 200px;
}

.rangeeJetonsRepetition2{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -450px;
  margin-left: 180px;
}

.rangeeJetonsRepetition3{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -380px;
  margin-left: 180px;
}

.rangeeJetonsOperations1{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -520px;
  margin-left: 185px;
}


.rangeeJetonsOperations2{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -450px;
  margin-left: 185px;
  
}


.rangeeJetonsOperations3{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -380px;
  margin-left: 185px;
  }


.rangeeJetonsOperations4{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -310px;
  margin-left: 185px;
  
}


.rangeeJetonsOperations5{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -240px;
  margin-left: 185px;
  
}.rangeeJetonsOperations1{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -520px;
  margin-left: 185px;
}

.rangeeJetonsSpeciaux1{
  display: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  flex-basis: 100%;
  margin-top: -530px;
  margin-left: 200px;
}