.jetonRotation {
  
  padding-left: 0px;
}

.jetonRepeter2 {

  padding-top: 4px;
  padding-left: 20px;

}

.jetonRepeter3 {

  padding-top: 4px;
  padding-left: 20px;

}

.jetonRepeter4 {
  padding-top: 4px;
  padding-left: 20px;
  
}

.jetonRepeter5 {
  padding-top: 4px;
  padding-left: 20px;

}

.jetonRepeter6 {
  padding-top: 4px;

  padding-left: 20px;

}

.jetonRepeterAleatoire {


  padding-left: 20px;

}

.jetonRepeter7 {


  padding-left: 20px;

}

.jetonRepeter8 {


  padding-left: 20px;

}

.jetonRepeter9 {


  padding-left: 20px;

}

.jetonRepeter10 {


  padding-left: 20px;


}

.jetonRepeter18 {


  padding-left: 20px;

}

.jetonRepeter36 {


  padding-left: 20px;

}

.jetonRepeter72 {

  padding-left: 20px;

}

.jetonRepeter180 {


  padding-left: 20px;


}

.jetonRepeter360 {

  padding-left: 20px;

}