.jetonAvancer{

  
    padding-left: 20px;
  
  }
  
  .jetonReculer{
  
  
    padding-left: 20px;
  

  }
  
  .jetonAvancerDroite{
  
  
    padding-left: 20px;
  

  }
  
  .jetonAvancerGauche{
  
  
    padding-left: 20px;
  

  }
  
  .jetonMouvementAleatoire{
  
  
    padding-left: 20px;
  
  }
  