.jetonPlus1{

    padding-top: 110px;
    padding-left: 160px;
    position: absolute;
  }
  
  .jetonPlus2{
  
    padding-top: 110px;
    padding-left: 240px;
    position: absolute;
  }
  
  .jetonPlus3{
  
    padding-top: 110px;
    padding-left: 320px;
    position: absolute;
  }
  
  .jetonPlus5{
  
    padding-top: 110px;
    padding-left: 400px;
    position: absolute;
  }
  
  .jetonPlus10{
  
    padding-top: 110px;
    padding-left: 480px;
    position: absolute;
  }
  
  .jetonPlus15{
  
    padding-top: 110px;
    padding-left: 160px;
    position: absolute;
  }
  
  .jetonPlus20{
  
    padding-top: 110px;
    padding-left: 240px;
    position: absolute;
  }
  
  .jetonPlus50{
  
    padding-top: 110px;
    padding-left: 320px;
    position: absolute;
  }
  
  .jetonPlus100{
  
    padding-top: 110px;
    padding-left: 400px;
    position: absolute;
  }
  
  .jetonMoins1{
  
    padding-top: 110px;
    padding-left: 480px;
    position: absolute;
  }
  
  .jetonMoins2{
  
    padding-top: 110px;
    padding-left: 160px;
    position: absolute;
  }
  
  .jetonMoins5{
  
    padding-top: 110px;
    padding-left: 240px;
    position: absolute;
  }
  
  .jetonMoins10{
  
    padding-top: 110px;
    padding-left: 320px;
    position: absolute;
  }
  
  .jetonMoins15{
  
    padding-top: 110px;
    padding-left: 400px;
    position: absolute;
  }
  
  .jetonMoins20{
  
    padding-top: 110px;
    padding-left: 480px;
    position: absolute;
  }
  
  .jetonMoins50{
  
    padding-top: 110px;
    padding-left: 160px;
    position: absolute;
  }
  
  .jetonMoins100{
  
    padding-top: 110px;
    padding-left: 240px;
    position: absolute;
  }
  
  .jetonMultipliePar2{
  
    padding-top: 110px;
    padding-left: 320px;
    position: absolute;
  }
  
  .jetonMultipliePar3{
  
    padding-top: 110px;
    padding-left: 400px;
    position: absolute;
  }
  
  .jetonDivisePar2{
  
    padding-top: 110px;
    padding-left: 480px;
    position: absolute;
  }
  
  .jetonDivisePar3{
  
    padding-top: 110px;
    padding-left: 160px;
    position: absolute;
  }
  
  .jetonPuissanceDe2{
  
    padding-top: 110px;
    padding-left: 240px;
    position: absolute;
  }
  
  .jetonPuissanceDe3{
  
    padding-top: 110px;
    padding-left: 320px;
    position: absolute;
  }
  
  .jetonRacineCarreDeNombreX{
  
    padding-top: 110px;
    padding-left: 400px;
    position: absolute;
  }
  