.dropZone{
   
}

.dropZone1 {    
    padding-top: 0px;
    padding-left: 131px;
    background-size: 100%;
    
    
}

.dropZone2 {
    padding-top: 0px;
    padding-left: 1230px;

}

.dropZone3 {
    padding-top: 60px;
    padding-left: 324px;
    
}

.dropZone4 {
    padding-top: 60px;
    padding-left: 400px;
    
}

.dropZone5 {
    padding-top: 60px;
    padding-left: 500px;
    
}

.dropZone6 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone7 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone8 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone9 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone10 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone11 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone12 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone13 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone14 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone15 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone16 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone17 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone18 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone19 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone20 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone21 {
    padding-top: 60px;
    padding-left: 130px;
    
}

.dropZone22 {
    padding-top: 60px;
    padding-left: 130px;
    
}